<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.flashes
{
    color: black;
    font-size: 20px;
    w3-padding-large
}
::placeholder
{
    color: black;
}


    </style>
</head>
<body>
<div class="w3-top">
    <div class="w3-bar w3-orange w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
           href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
        <a href="/admin_panel" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="/create" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Add Invoice</a>
        <a href="/view" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">View All
            Invoices</a>


    </div>
    <header class="w3-container w3-blue w3-center" style="padding:128px 25px">
        <h1 class="w3-margin w3-xxlarge">Enter your invoice details.</h1>
        <form action="#" method="POST">
            <div class="table">
            <input class="w3-large" type="text" name="name" placeholder="Name" required>
            <input class="w3-large" type="text" name="street" placeholder="Street" required>
            <input class="w3-large" type="text" name="postal_code" placeholder="Postal Code" required>
            <input class="w3-large" type="text" name="product_name" placeholder="Product Name" required>
            <input class="w3-large" type="text" name="quantity" placeholder="Quantity" required>
            <input class="w3-large" type="text" name="price" placeholder="Price" required>
            <input class="w3-large" type="date" name="invoice_date" placeholder="Invoice date" required>
            </div>

            <button class="w3-button w3-green w3-padding-medium w3-large">Submit</button>
            <div class="flashes">
                {% for message in get_flashed_messages() %}
                {{ message }}
                {% endfor %}
            </div>

        </form>
    </header>

</body>
</html>