{% extends 'base.html' %}
{% block title %} <title>add_invoice</title> {% endblock %}


{% block content %}
<div class="container">
    <div class="py-5 text-center">
        <h2>Add invoice</h2>
        <p class="lead">Please choose contractor and products for your invoice.</p>
    </div>
    <div class="row g-5">
        <div class="col-md-5 col-lg-7 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3"></h4>

        </div>
        <div class="col-md-5 col-lg-7">
            <h4 class="mb-3">Invoice details</h4>
            <form action="{{ url_for ('create.create_invoice') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="col-12">
                    <label class="form-label">Contractor</label>
                    {{ form.contractors_query (class_="form-control") }}

                </div>
                <hr class="my-4">

                <div class="row g-3">
                    <div class="col-sm-6">
                        <label  class="form-label">Product</label>
                        {{ form.products_query (class_="form-control") }}
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label">Quantity</label>
                        {{ form.quantity (class_="form-control")  }}

                    </div>


                </div>

                <hr class="my-4">

                {{ form.submit (class_="w-100 btn btn-primary btn-lg")  }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
