{% extends 'base.html' %}
{% block title %} <title>dashboard</title> {% endblock %}
{% block logged %} {{ ulogin }} {% endblock %}
{% block content %}
<div class="col-lg-6 mx-auto">
      <p class="d-flex align-items-center">Choose action</p>
      <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary btn-lg px-4 gap-3" href="#" role="button">Add Product</a>
        <a class="btn btn-primary btn-lg px-4 gap-3" href="/add" role="button">Add Invoice</a>
        <a class="btn btn-primary btn-lg px-4 gap-3" href="#" role="button">Add Contractor</a>
      </div>
    </div>
{% endblock %}
