{% extends 'base.html' %}
{% block title %} <title>dashboard</title> {% endblock %}
{% block content %}
<p class="fs-2 text-center">Choose action</p>
<div class="col-lg-6 mx-auto">
    <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary btn-lg px-4 gap-3" href="/add_product" role="button">Add Product</a>
        <a class="btn btn-primary btn-lg px-4 gap-3" href="/add" role="button">Add Invoice</a>
        <a class="btn btn-primary btn-lg px-4 gap-3" href="#" role="button">Add Contractor</a>
    </div>
</div>
<p class="fs-2 text-center">Your invoices</p>
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th scope="col">Invoice ID</th>
        <th scope="col">Contractor</th>
        <th scope="col">Invoice Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ invoice.id }}</td>
        <td>{{ contractor.company_name }}</td>
        <td>{{ invoice.invoice_date }}</td>
    </tr>
    </tbody>
</table>
{% endblock %}
