{% extends 'base.html' %}
{% block title %} <title>login</title> {% endblock %}
{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Invoice Manager</h1>
            <p class="col-lg-10 fs-4">If you are looking for place where you can manage contractors, invoices and
                products. Don't look no further, this is place for you</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form action="{{ url_for('login.login') }}" method="post">
                <form class="p-4 p-md-5 border rounded-3 bg-light">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="username" id="floatingInput"
                               placeholder="name@example.com">
                        <label for="floatingInput">Login</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password" id="floatingPassword"
                               placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                    <hr class="my-4">
                    <small class="text-muted">You don't have an account yet? <a href="/register" methods="GET">Click to
                        register.</a></small>
                </form>
            </form>
        </div>
    </div>
    {% endblock %}



