{% extends 'base.html' %}
{% block title %} <title>view</title> {% endblock %}
{% block style %}

{% endblock %}

{%block content%}
<table class="w3-container w3-center" style="padding:128px 16px">
    <thead>
    <tr class="w3-orange">
        <th>Invoice number</th>
        <th>Contractor Name</th>
        <th>Total Price</th>
        <th>Invoice Date</th>
    </tr>
    </thead>
    <tbody>
    {% for x in product %}
    <tr>
        <td>{% for p in x.product %}</td>
            {{ p.name }}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}